<h1>Scoreboard Owin Tournament:</h1>
<p>List of scores:</p>

<% @players.each do |category, players| %>
<p class="category_title"><%= category.name %>
<div class="d-table">
  <% players.sort_by(&:points).reverse.each_with_index do |player, i| %>
    <ul class="d-row">
      <li><%= i + 1 %>ยบ (<%= player.time.to_formatted_s(:time) %>) <%= player.points %></li>
      <li> <%= player.name %></li>

      <% player.scores.each do |score| %>
        <li><%= player.wods.find { |w| w.id == score.wod_id }.name %>: <%= score.position %>ยบ <%= "(#{score.time.to_formatted_s(:time)})" if score.time %> <%= "#{score.points}p" if score.points %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>
